.rsrc-title {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.resources a{
    text-decoration: none;
}

.resources {
    width: 33vw;
    padding: 25px;
}

.card {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.resources-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}